<div class="container">

  <div class="page-header">
    <div class="row">
        <h2>Adicionar Músicas</h2>
    </div>
  </div>

  <div class="well bs-component">
    <form #searchForm="ngForm">
      <fieldset>
        <legend>Buscar nova música</legend>
        <div class="input-group">
          <input type="text" class="form-control" name="busca" placeholder="Nome da música"
            (keyup.enter)="searchYoutube()" [(ngModel)]="busca" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" (click)="searchYoutube()"
              [disabled]="!searchForm.form.valid"><span class="glyphicon glyphicon-search"></span> Buscar</button>
          </span>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="somenteComKaraoke" [(ngModel)]="somenteComKaraoke">
            Somente com "Karaokê" no título
          </label>
        </div>
      </fieldset>
    </form>
  </div>

  <div *ngIf="musicas">
    <span class="label-resultado">Resultados da busca:</span>

    <div class="navegar pull-right">
      <button class="btn btn-primary btn-sm" *ngIf="previousToken" (click)="previousPage()"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
      <button class="btn btn-primary btn-sm" *ngIf="nextToken" (click)="nextPage()">Próximo <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>

    <div class="clearfix"></div>

    <div *ngFor="let musica of musicas, let i = index" class="musica" [hidden]="!filtrarTemKaraokeNoTitulo(musica.snippet.title)">
      <div class="thumb hidden-xs">
        <img [src]="musica.snippet.thumbnails.default.url" />
        <div class="youtube">
          <app-youtube-player
            *ngIf="testando[musica.id.videoId]"
            [videoId]="musica.id.videoId"
            [width]="1"
            [height]="1"
            (ready)="savePlayer($event, musica)"
            (change)="onStateChange($event, musica)">
          </app-youtube-player>
        </div>
      </div>

      <div class="details">
        <span class="title" [title]="musica.snippet.title">{{ musica.snippet.title }}</span>

        <div class="buttons">
          <a [href]="defaults.youtubeURLPrefix + musica.id.videoId" class="btn btn-primary btn-sm" target="_blank">
            <span class="glyphicon glyphicon-eye-open"></span>
            Visualizar
          </a>
          <a class="btn btn-primary btn-sm" (click)="adicionarMusica(musica)" *ngIf="!musica.added && !musica.erro && !testando[musica.id.videoId]">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Adicionar
          </a>

          <span class="label label-info" *ngIf="testando[musica.id.videoId]">Verificando...</span>
          <span class="label label-success" *ngIf="musica.added">Adicionada</span>
          <span class="label label-danger" *ngIf="musica.erro">Música com problema...</span>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="navegar pull-right">
      <button class="btn btn-primary btn-sm" *ngIf="previousToken" (click)="previousPage()"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
      <button class="btn btn-primary btn-sm" *ngIf="nextToken" (click)="nextPage()">Próximo <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
</div>
