<div class="container" #divContainer (window:resize)="resize()">
  <div class="page-header" *ngIf="!tocandoMusica">
    <div class="row" *ngIf="!play">
      <h2>Vamos cantar!!!</h2>
    </div>
  </div>

  <div class="semMusicas" *ngIf="!musica">
    Sem músicas no momento.
  </div>

  <div class="proximo" *ngIf="musica && carregandoMusica">
    <div>
      <strong>Próximo cantor:</strong>

      <span class="cantor">{{ musica?.user.displayName }}</span>
      <img [src]="musica.user.photoURL" width="100" />
    </div>
    <hr />
    <div>
      <strong>Música:</strong> {{ musica?.snippet.title }}
    </div>
    <div>
      Aguarde... {{ tempo }}
    </div>
  </div>

  <div class="erro" *ngIf="musica && mostrandoErro">
    <div>
      <strong>{{ musica?.user.displayName }}... Infelizmente, ocorreu um erro com sua música.</strong>
    </div>
    <hr />
    <div>
      <strong>Música:</strong> {{ musica?.snippet.title }}
    </div>
    <div>
      Aguarde... {{ tempo }}
    </div>
  </div>

  <div class="musica">
    <div>
      <div>
        <app-youtube-player
          *ngIf="tocandoMusica"
          [videoId]="videoId"
          [width]="larguraVideo"
          [height]="alturaVideo"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)">
        </app-youtube-player>
      </div>
    </div>
  </div>
</div>