<div class="container login">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1>Karaokê Milaneze</h1>

      Faça seu login!

      <div class="social-container">
        <a class="btn btn-block btn-social btn-google first" (click)="loginGoogle()">
          <span class="fa fa-google"></span>
          Google
        </a>

        <a class="btn btn-block btn-social btn-facebook" (click)="loginFacebook()">
          <span class="fa fa-facebook"></span>
          Facebook
        </a>

        <a class="btn btn-block btn-social btn-twitter" (click)="loginTwitter()">
          <span class="fa fa-twitter"></span>
          Twitter
        </a>
      </div>
    </div>
  </div>
</div>
