a.btn.btn-block.btn-social {
    margin-top: 10px;

    &.first {
        margin-top: 0;
    }
}

div.social-container {
    border: 1px dotted gray; 
    padding: 20px; 
    border-radius: 15px; 
    margin-top: 10px;
}

div.login {
    margin-top: 50px;
}