<div class="container">

  <div class="page-header">
    <div class="row">
        <h2>Fila de Músicas</h2>
    </div>
  </div>

  <div *ngIf="musicas?.length > 0">
    <div *ngFor="let musica of musicas, let index = index" class="musica">
      <div class="thumb hidden-xs">
        <img [src]="musica.snippet.thumbnails.default.url" />
      </div>
      <div class="details">
        <span class="title" [title]="musica.snippet.title">{{ index + 1 }}. {{ musica.snippet.title }}</span>
        <div class="cantor">
          <img [src]="musica.user.photoURL" width="50" />
          Cantor(a): {{ musica.user.displayName }}
        </div>
      </div>
      <div class="clearfix"></div>
      <div *ngIf="isUsuarioMaster" class="master">
        <a class="btn btn-primary" href="javascript:void(0)" role="button" *ngIf="!musica.prioridade && !musica.atual" (click)="darPrioridade(musica)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Prioridade
        </a>
        <a class="btn btn-danger" href="javascript:void(0)" role="button" *ngIf="musica.prioridade && !musica.atual" (click)="tirarPrioridade(musica)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          Prioridade
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" role="button" (click)="definirMusicaComoErrada(musica)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Erro
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" role="button" (click)="definirMusicaComoTocada(musica)">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          Tocada
        </a>
        <span *ngIf="musica.primeiraVez" class="label label-info">Primeira Vez</span>
      </div>
    </div>
  </div>
  <div *ngIf="musicas?.length == 0">
    Nenhuma música na fila.
  </div>
</div>
